<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>명탐정 한이</title>
    <style>
        body {
            background-color: #000;
            background-image: url("../static/images/main.jpg");
            background-size: cover;
            background-position: top center;
        }


    .center {
        display: table-cell;
        margin-left: auto;
        margin-right: auto;
        margin-top: 250px;
    }
        /* 세로 중앙 정렬 */

    </style>

    <link rel='stylesheet prefetch'
          href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="static/bootstrap-filestyle-2.1.0/src/bootstrap-filestyle.min.js"></script>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/jquery.poptrox.min.js"></script>
    <script src="static/assets/js/skel.min.js"></script>
    <script src="static/assets/js/main.js"></script>

</head>
<body>
<a href="/start">
    <img src="static/images/start_btn.png" style=" width:150px; height:auto; border:0; " class="center">
</a>

</body>
</html>
